<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA-bBliF2dR8kNdGsZsmjgxtcAtNvu0vKw</string>
	<key>GCM_SENDER_ID</key>
	<string>827541937089</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firbase</string>
	<key>PROJECT_ID</key>
	<string>aziza-8a007</string>
	<key>STORAGE_BUCKET</key>
	<string>aziza-8a007.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:827541937089:ios:d25b3fae69c2bc2c9e6d40</string>
</dict>
</plist>